<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729611235265-pnmd1oggh6l2ruokolpjiqh05ooktqaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729611235265-pnmd1oggh6l2ruokolpjiqh05ooktqaq</string>
	<key>API_KEY</key>
	<string>AIzaSyA0kWDZsifaIsAENLuwj2-U75H0TLaXISE</string>
	<key>GCM_SENDER_ID</key>
	<string>729611235265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cafeNoteMobile</string>
	<key>PROJECT_ID</key>
	<string>cafenote-43486</string>
	<key>STORAGE_BUCKET</key>
	<string>cafenote-43486.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729611235265:ios:348fce58a854c37c4c8940</string>
</dict>
</plist>